<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>

  <body>
    <h1>Oops, you caught us red handed with maintaining!</h1>
    <p>We'll be right back after cleanup</p>
  </body>

  {{> footer}}

</html>