<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>

  <body>
    {{> header}}
    <p>Great things are stored here.. or not</p>
  </body>

  {{> footer}}

</html>